#!/bin/rc

srv tcp!registry.9gridchan.org!6675 registry /mnt/registry

addr=`{cat /mnt/registry/index | grep gridchat | grep exportfs | sed 's/ .*//'}

srv -c $addr gridchat /n/chatback


label gridchat-backscroll

cat /n/chatback/chat
